apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloud-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: cloud-app
  template:
    metadata:
      labels:
        app: cloud-app
    spec:
      containers:
        - name: cloud-app
          image: frapp1e/cloud-app:v1
          imagePullPolicy: Always
          ports:
            - containerPort: 5000
          env:
            - name: MENSAJE
              value: "Hola Fran desde Kubernetes ☸️"
